<page="page" id="jobs_index">
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <p class="semi-bold text-muted text-small">Annonse</p>
        </div>
        <div class="col-md-8">
          <h4 class="semi-bold">Ledige Stillinger</h4>
          <% @jobs.each do |job| %>
            <%= link_to job do %>
              <div class="panel panel-default panel-job">
                <div class="panel-body panel-body-job">
                  <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                      <p class="semi-bold text-small uppercase"><i class="fa fa-star fa-star-exclusive" aria-hidden="true"></i> &middot; <%= job.employer.name %> &middot; <%= job.location %> &middot; <%= job.category.name %> &middot; <%= job.type.name %></p>
                      <h4 class="semi-bold"><%= job.title %></h4>
                        <div class="btn-group" role="group" aria-label="...">
                          <button class="btn btn-job">Les Mer</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-2">
          <p class="semi-bold text-muted text-small">Annonse</p>
        </div>
      </div>
    </div>
  </section>
</page>
